@font-face {
  font-family: "Kingthings";
  src: url(/Kingthings-Serifique-UL-Wide.ttf) format("truetype");
}

body {
  font-family: sans-serif;
  background-color: #B5342F;
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  /* margin-left: 410px; */
  font-family: Kingthings;
  /* -webkit-text-stroke: 2px black; */
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
  text-align: center;
  color: white;
  font-size: 72px;
  padding-bottom: 30px;
  margin: 30px;
  border-bottom: 5px dotted white;
}

/* #main-div {
  border: 2px solid white;
} */

label {
  font-size: 20px;
}

nav a, label {
  display: inline-block;
  margin: 0.5em 1em;
  color: white;
}

p {
  color: white;
}

#filter-box: {
  margin-left: 300px;
}

span {
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

#check-me {
  -moz-appearance:none;
-webkit-appearance:none;
-o-appearance:none;
  background-color: rgba(255,255,255,0.1);
  width: 26px;
  height: 26px;
  margin-left: 200px;
  margin-bottom: -4px;
  outline: 1px solid black;
}
#check-me:checked {
  background-color: rgba(255,255,255,1);
}


form div {
  margin: 1em;
  display: inline-block;
}

#parameter-bar-container {
  /* display: flex; */
  font-size: 26px;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
}

select {
  height: 36px;
  font-size: 20px;
  width: 300px;
  margin: -10px auto;
  margin-bottom: 50px;
  outline: 1px solid black;
}

#suggestion-box-container {
  /* background-color: #eeeeee; */
  display: flex;
  align-items: center;
  /* opacity: 0.75; */
  border: 1px solid #B5342F;
  border-radius: 11px 11px 11px 0px;
  padding: 2px;
}

textarea, #suggestion-box-container {
  font-family: Helvetica, sans-serif;
  font-size: 26px;
}

#entry-container textarea {
  position: absolute;
  left: 40px;
  top: 200px;
  padding: 3em 2em;
  margin-bottom: 30px;
  outline: 1px solid black;
}

textarea:focus,  {
  outline: 1px solid black;
}

select {
  background-color: rgba(250, 250, 250, 1)
}

@media only screen and (max-width: 600px) {
  #entry-container textarea {
    width: 560px;
    background-color: black;
  }
}

#suggestion-box-container span {
  padding-right: 8px;
  padding-left: 2px;
  color: black;
}

.suggestion-icon {
  width: 26px;
  height: 26px;
  padding-right: 8px;
  padding-left: 2px;
}