body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.5em 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#parameter-bar-container {
  display: flex;
  font-size: 10px;
}

#suggestion-box-container {
  background-color: yellow;
  display: flex;
  align-items: center;
  /* opacity: 0.75; */
}

textarea, #suggestion-box-container {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

#entry-container textarea {
  position: absolute;
  left: 20px;
  top: 200px;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  #entry-container textarea {
    width: 560px;
    background-color: black;
  }
}